*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.navigation{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #212532;
    border-radius: 10px;
    cursor: pointer;
}
.navigation.active{
     width: 200px;
    height: 200px;
}